{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="bootLearn,business,company,agency,multipurpose,modern,bootstrap4">
    
    <meta name="author" content="bootLearn.com">
  
    <title>bootLearn| Html5 Agency template</title>


 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  




  
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Icon Font Css -->
    <link rel="stylesheet" href="{% static 'plugins/themify/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/magnific-popup/dist/magnific-popup.css' %}">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick/slick-theme.css' %}">
  
    <!-- Main Stylesheet -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  
    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  
  </head>
  
  <body>
  
  
  <!-- Header Start --> 
  
  <header class="navigation">
      <div class="header-top ">
          <div class="container">
              <div class="row justify-content-between align-items-center">
                  <div class="col-lg-2 col-md-4">
                      <div class="header-top-socials text-center text-lg-left text-md-left">
                          <a href="https://www.facebook.com/bootLearn" target="_blank"><i class="ti-facebook"></i></a>
                          <a href="https://twitter.com/bootLearn" target="_blank"><i class="ti-twitter"></i></a>
                          <a href="https://github.com/bootLearn/" target="_blank"><i class="ti-github"></i></a>
                      </div>
                  </div>
                  <div class="col-lg-10 col-md-8 text-center text-lg-right text-md-right">
                      <div class="header-top-info">
                          <a href="callto:+918050011155">Call Us : <span>+91 8050011155</span></a>
                          <a href="mailto:hello@bootlearn.com" ><i class="fa fa-envelope mr-2"></i><span>hello@bootlearn.com</span></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <nav class="navbar navbar-expand-lg  py-4" id="navbar">
          <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">
                boot<span>Learn.</span>
            </a>
  
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
              <span class="fa fa-bars"></span>
            </button>
        
            <div class="collapse navbar-collapse text-center" id="navbarsExample09">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>

                 <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
              </ul>
  
              <form class="form-lg-inline my-2 my-md-0 ml-lg-4 text-center">
                <a href="{% url 'contact' %}" class="btn btn-solid-border btn-round-full">Get a Quote</a>
              </form>
            </div>
          </div>
      </nav>
  </header>

  {% block content %}
  {% endblock %}


<footer class="footer section">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget">
					<h4 class="text-capitalize mb-4">Company</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">Terms & Conditions</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget">
					<h4 class="text-capitalize mb-4">Quick Links</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">About</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Team</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget">
					<h4 class="text-capitalize mb-4">Subscribe Us</h4>
					<p>Subscribe to get latest news article and resources  </p>

					<form action="#" class="sub-form">
						<input type="text" class="form-control mb-3" placeholder="Subscribe Now ...">
						<a href="#" class="btn btn-main btn-small">subscribe</a>
					</form>
				</div>
			</div>

			<div class="col-lg-3 ml-auto col-sm-6">
				<div class="widget">
					<div class="logo mb-4">
						<h3>boot<span>Learn.</span></h3>
					</div>
					<h6><a href="+91 8050011155" >hello@bootlearn.com</a></h6>
					<a href="mailto:hello@bootlearn.com"><span class="text-color h4">+91 8050011155</span></a>
				</div>
			</div>
		</div>
		
		<div class="footer-btm pt-4">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						&copy; Copyright Reserved to <span class="text-color">bootLearn.</span> by <a href="https://www.facebook.com/profile.php?id=100003653747951&ref=br_rs" target="_blank">arun raj aryan</a>
					</div>
				</div>
				<div class="col-lg-6 text-left text-lg-right">
					<ul class="list-inline footer-socials">
						<li class="list-inline-item"><a href="https://www.facebook.com/bootLearn"><i class="ti-facebook mr-2"></i>Facebook</a></li>
						<li class="list-inline-item"><a href="https://twitter.com/bootLearn"><i class="ti-twitter mr-2"></i>Twitter</a></li>
						<li class="list-inline-item"><a href="https://www.pinterest.com/bootLearn/"><i class="ti-linkedin mr-2 "></i>Linkedin</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
   
    </div>

    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
    <script src="plugins/jquery/jquery.js"></script>
    <script src="js/contact.js"></script>
    <!-- Bootstrap 4.3.1 -->
    <script src="plugins/bootstrap/js/popper.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
   <!--  Magnific Popup-->
    <script src="plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <!-- Slick Slider -->
    <script src="plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="plugins/counterup/jquery.waypoints.min.js"></script>
    <script src="plugins/counterup/jquery.counterup.min.js"></script>

    <!-- Google Map -->
    <script src="plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="js/script.js"></script>