 
<html>

    <body>
    
    <h1>Contact Form </h1>
    
    
    <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit"/>
    </form>
    </body>
    </html>