<!doctype html>
{% extends "base.html" %}
{% block content %}

{% load static %}
<html lang="en">
  
<!-- Header Close --> 

<div class="main-wrapper ">
<section class="page-title bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">About Us</span>
          <h1 class="text-capitalize mb-4 text-lg">Our Company</h1>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="{% url 'index' %}" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="{% url 'about' %}" class="text-white-50">About Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Section About Start -->
<section class="section about-2 position-relative">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="about-item pr-3 mb-5 mb-lg-0">
					<span class="h6 text-color">What we are</span>
					<h2 class="mt-3 mb-4 position-relative content-title">We are dynamic team of creative people</h2>
					<p class="mb-5">We provide consulting services in the area of IFRS and management reporting, helping companies to reach their highest level. We optimize business processes, making them easier.</p>

					<a href="#" class="btn btn-main btn-round-full">Get started</a>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="about-item-img">
					<img src="{% static 'images/an.jpg' %}" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Section About End -->
 
<section class="about-info section pt-0">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="about-info-item mb-4 mb-lg-0">
					<h3 class="mb-3"><span class="text-color mr-2 text-md ">01.</span>Our Mission</h3>
					<p>llum similique ducimus accusamus laudantium praesentium, impedit quaerat, itaque maxime sunt deleniti voluptas distinctio .</p>
				</div>		
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="about-info-item mb-4 mb-lg-0">
					<h3 class="mb-3"><span class="text-color mr-2 text-md">02.</span>Vission</h3>
					<p>llum similique ducimus accusamus laudantium praesentium, impedit quaerat, itaque maxime sunt deleniti voluptas distinctio .</p>
				</div>		
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="about-info-item mb-4 mb-lg-0">
					<h3 class="mb-3"><span class="text-color mr-2 text-md">03.</span>Our Approach</h3>
					<p>llum similique ducimus accusamus laudantium praesentium, impedit quaerat, itaque maxime sunt deleniti voluptas distinctio .</p>
				</div>		
			</div>
		</div>
	</div>
</section>

<!-- section Counter Start -->







<!-- section Counter End  -->
<!--  Section Services Start -->
<section class="section team">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<span class="h6 text-color">Our Team</span>
					<h2 class="mt-3 content-title">Expert Team member to get best service</h2>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5">
					<div class="team-item position-relative">
						<img src="{% static 'images/python.png' %}" alt="" class="img-fluid w-100">
						<div class="team-img-hover">
							<ul class="team-social list-inline">
								<li class="list-inline-item">
									<a href="#" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="linkedin"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 text-capitalize">Justin hammer</h4>
						<p>Digital Marketer</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5">
					<div class="team-item position-relative">
						<img src="{% static 'images/an.jpg' %}" alt="" class="img-fluid w-100">
						<div class="team-img-hover">
							<ul class="team-social list-inline">
								<li class="list-inline-item">
									<a href="#" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="linkedin"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 text-capitalize">Jason roy</h4>
						<p>UI/UX Designer</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5 ">
					<div class="team-item position-relative">
						<img src="{% static 'images/an.jpg' %}" alt="" class="img-fluid w-100">
						<div class="team-img-hover">
							<ul class="team-social list-inline">
								<li class="list-inline-item">
									<a href="#" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="linkedin"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 text-capitalize">Henry oswald</h4>
						<p>Developer</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5 mb-lg-0">
					<div class="team-item position-relative">
						<img src="{% static 'images/an.jpg' %}" alt="" class="img-fluid w-100">
						<div class="team-img-hover">
							<ul class="team-social list-inline">
								<li class="list-inline-item">
									<a href="#" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="linkedin"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 text-capitalize">David Williams</h4>
						<p>Senior Marketer</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5 mb-lg-0">
					<div class="team-item position-relative">
						<img src="{% static 'images/an.jpg' %}" alt="" class="img-fluid w-100">
						<div class="team-img-hover">
							<ul class="team-social list-inline">
								<li class="list-inline-item">
									<a href="#" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="linkedin"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 text-capitalize">Peter Odin</h4>
						<p>App Developer</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5 mb-lg-0 ">
					<div class="team-item position-relative">
						<img src="{% static 'images/an.jpg' %}" alt="" class="img-fluid w-100">
						<div class="team-img-hover">
							<ul class="team-social list-inline">
								<li class="list-inline-item">
									<a href="#" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="linkedin"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 text-capitalize">David Spensor</h4>
						<p>Project Manager</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--  Section Services End -->
<!-- Section Testimonial Start -->

<!-- Section Testimonial End -->

<!-- footer Start -->


  </body>
	</html>
	{% endblock %}