<!doctype html>
{% extends "base.html" %}
{% block content %}


{% load static %}
<html lang="en">
  

<!-- Header Close --> 

<div class="main-wrapper ">
<section class="page-title bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">Contact Us</span>
          <h1 class="text-capitalize mb-4 text-lg">Get in Touch</h1>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact form start -->
<section class="contact-form-wrap section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                    

                <form method="post" novalidate>
                    {% csrf_token %}
                    {% include 'includes/bs4_form.html' with form=form %}
                    <center>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </center>
                  </form>



            </div>

            <div class="col-lg-5 col-sm-12">
                <div class="contact-content pl-lg-5 mt-5 mt-lg-0">
                    <span class="text-muted">We are Professionals</span>
                    <h2 class="mb-5 mt-2">Don’t Hesitate to contact with us for any kind of information</h2>

                    <ul class="address-block list-unstyled">
                        <li>
                            <i class="ti-direction mr-3"></i>#6 , 3rd Floor , Opposite Havells Galaxy , 13th cross , Roopena Agrahara, Hosur Road Bangalore 560068.
                        </li>
                        <li>
                            <i class="ti-email mr-3"></i>Email: hello@bootlearn.com
                        </li>
                        <li>
                            <i class="ti-mobile mr-3"></i>Phone:+88 01672 506 744
                        </li>
                    </ul>

                    <ul class="social-icons list-inline mt-5">
                        <li class="list-inline-item">
                            <a href="http://www.arun raj aryan.com"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="http://www.arun raj aryan.com"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="http://www.arun raj aryan.com"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<center>
<!-- <div class="google-map"> -->
    <div class="mapouter"><div class="gmap_canvas"><iframe width="1080" height="456" id="gmap_canvas" src="https://maps.google.com/maps?q=bootlearn&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{position:relative;text-align:right;height:456px;width:1080px;}.gmap_canvas {overflow:hidden;background:none!important;height:456px;width:1080px;}</style></div><!-- </div> -->
</center>



<!-- footer Start -->
<!-- footer Start -->

  </body>
	</html>
	{% endblock %}