<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

{% load static %}
<html lang="en">
  

<!-- Header Close --> 

<div class="main-wrapper ">
<!-- Slider Start -->
<section class="slider">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-10">
				<div class="block">
					<span class="d-block mb-3 text-white text-capitalize">Prepare for new future</span>
					<h1 class="animated fadeInUp mb-5">Our work is <br>presentation of our <br>capabilities.</h1>
					<a href="#" target="_blank" class="btn btn-main animated fadeInUp btn-round-full" >Get started<i class="btn-icon fa fa-angle-right ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Section Intro Start -->

    <!-- popup starts here -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document" style="max-width: 400px;max-height: 20px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <!-- popup body form -->
          
                    

						<form method="post" novalidate>
								{% csrf_token %}
								{% include 'includes/bs4_form.html' with form=form %}
								<center>
								<button type="submit" class="btn btn-primary">Submit</button>
								</center>
							</form>




          <!-- popup body form ends here-->

        </div>
      </div>
    </div>
    <!-- popup ends here -->
    <br>


    <div class="container-fluid course-row px-6">
      <div class="row text-center">
        <div class="col-xl-3 col-lg-6 box">
          <div class="card">
            <img src="{% static 'images/python.png' %}" class="card-img-top" alt="..."   height="190">
            <div class="card-body pt-5 ">
							<h5 class="card-title">Python</h5>
							<!-- style="background-color:red;" -->
              <p class="card-text">You will learn Python</p>
              <a  href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Enroll now</a>
              <a href="{% url 'python' %}" class="btn border-dark">More Info</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 box">
          <div class="card">
            <img src="{% static 'images/django.png' %}" class="card-img-top" alt="..."  height="190" >
            <div class="card-body pt-5">
              <h5 class="card-title">Django</h5>
              <p class="card-text">You will learn Django</p>
              <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Enroll now</a>
              <a href="{% url 'django' %}" class="btn border-dark">More Info</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 box">
          <div class="card">
            <img src="{% static 'images/Ml.jpg' %}" class="card-img-top" alt="..."   height="190">
            <div class="card-body pt-5">
              <h5 class="card-title">MechineLearning</h5>
              <p class="card-text">You will learn MechineLearning</p>
              <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Enroll now</a>
              <a href="{% url 'ML' %}" class="btn border-dark">More Info</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 box">
          <div class="card">
            <img src="{% static 'images/an.jpg' %}" class="card-img-top" alt="..."   height="190">
            <div class="card-body pt-5">
              <h5 class="card-title">Angular</h5>
              <p class="card-text">You will learn Angular</p>
              <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Enroll now</a>
              <a href="{% url 'anglr' %}" class="btn border-dark">More Info</a>
            </div>
          </div>
        </div>
      </div>
    </div>



		<div class="container-fluid course-row px-6">
      <div class="row text-center">
        <div class="col-xl-3 col-lg-6 box">
          <div class="card">
            <img src="{% static 'images/ui.jpg' %}" class="card-img-top" alt="..."   height="190">
            <div class="card-body pt-5 ">
							<h5 class="card-title">UI/UX</h5>
							<!-- style="background-color:red;" -->
              <p class="card-text">You will learn UI/UX</p>
              <a  href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Enroll now</a>
              <a href="{% url 'anglr' %}" class="btn border-dark">More Info</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 box">
          <div class="card">
            <img src="{% static 'images/and.png' %}" class="card-img-top" alt="..."   height="190">
            <div class="card-body pt-5">
              <h5 class="card-title">Android</h5>
              <p class="card-text">You will learn Android</p>
              <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Enroll now</a>
              <a href="{% url 'anglr' %}" class="btn border-dark">More Info</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 box">
          <div class="card">
            <img src="{% static 'images/php.png' %}" class="card-img-top" alt="..."   height="190">
            <div class="card-body pt-5">
              <h5 class="card-title">Php</h5>
              <p class="card-text">You will learn Php</p>
              <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Enroll now</a>
              <a href="{% url 'anglr' %}" class="btn border-dark">More Info</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 box">
          <div class="card">
            <img src="{% static 'images/ser.png' %}" class="card-img-top" alt="..."   height="190">
            <div class="card-body pt-5">
              <h5 class="card-title">Service Now</h5>
              <p class="card-text">You will learn Service Now</p>
              <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Enroll now</a>
              <a href="{% url 'anglr' %}" class="btn border-dark">More Info</a>
            </div>
          </div>
        </div>
      </div>
    </div>

































    
    <div class="container-fluid text-center bg-secondary p-4 py-5" id="team">
      <h2 class="text-light">Team Members</h2>
      <div class="container">
        <div class="row">

          <div class="col-md-4 box">
            <div class="card">
              <img src="image.png" class="card-img-top" alt="...">
              <div class="card-body pt-5">
                <h5 class="card-title">Name</h5>
                <p class="card-text">description</p>
                <div class="text-right links">
                  <a href="#" class="btn btn-lg"><i class="fab fa-facebook"></i></a>
                  <a href="#" class="btn btn-lg"><i class="fab fa-google-plus-g"></i></a>
                  <a href="#" class="btn btn-lg"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 box">
            <div class="card">
              <img src="image.png" class="card-img-top" alt="...">
              <div class="card-body pt-5">
                <h5 class="card-title">Name</h5>
                <p class="card-text">description</p>
                <div class="text-right links">
                  <a href="#" class="btn btn-lg"><i class="fab fa-facebook"></i></a>
                  <a href="#" class="btn btn-lg"><i class="fab fa-google-plus-g"></i></a>
                  <a href="#" class="btn btn-lg"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 box">
            <div class="card">
              <img src="image.png" class="card-img-top" alt="...">
              <div class="card-body pt-5">
                <h5 class="card-title">name</h5>
                <p class="card-text">description</p>
                <div class="text-right links">
                  <a href="#" class="btn btn-lg"><i class="fab fa-facebook"></i></a>
                  <a href="#" class="btn btn-lg"><i class="fab fa-google-plus-g"></i></a>
                  <a href="#" class="btn btn-lg"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>



	



<!-- section Counter End  -->
<!--  Section Services Start -->
<section class="section service border-top">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<span class="h6 text-color">Our Services</span>
					<h2 class="mt-3 content-title ">We provide a wide range of creative services </h2>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-desktop"></i>
					<h4 class="mb-3">Web development.</h4>
					<p>A digital agency isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-layers"></i>
					<h4 class="mb-3">Interface Design.</h4>
					<p>A digital agency isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-bar-chart"></i>
					<h4 class="mb-3">Business Consulting.</h4>
					<p>A digital agency isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5 mb-lg-0">
					<i class="ti-vector"></i>
					<h4 class="mb-3">Branding.</h4>
					<p>A digital agency isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5 mb-lg-0">
					<i class="ti-android"></i>
					<h4 class="mb-3">App development.</h4>
					<p>A digital agency isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5 mb-lg-0">
					<i class="ti-pencil-alt"></i>
					<h4 class="mb-3">Content creation.</h4>
					<p>A digital agency isn't here to replace your internal team, we're here to partner</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--  Section Services End -->
 <!-- Section Cta Start --> 
<section class="section cta">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="cta-item  bg-white p-5 rounded">
					<span class="h6 text-color">We create for you</span>
					<h2 class="mt-2 mb-4">Entrust Your Project to Our Best Team of Professionals</h2>
					<p class="lead mb-4">Have any project on mind? For immidiate support :</p>
					<h3><i class="ti-mobile mr-3 text-color"></i>+91 8050011155</h3>
				</div>
			</div>
		</div>
	</div>
</section>
<!--  Section Cta End-->
<!-- Section Testimonial Start -->


	<style>
		* {box-sizing: border-box}
		body {font-family: Verdana, sans-serif; margin:0}
		
		/* Slideshow container */
		.slideshow-container {
			position: relative;
			background: #f1f1f1f1;
		}
		
		/* Slides */
		.mySlides {
			display: none;
			padding: 80px;
			text-align: center;
		}
		
		/* Next & previous buttons */
		.prev, .next {
			cursor: pointer;
			position: absolute;
			top: 50%;
			width: auto;
			margin-top: -30px;
			padding: 16px;
			color: #888;
			font-weight: bold;
			font-size: 20px;
			border-radius: 0 3px 3px 0;
			user-select: none;
		}
		
		/* Position the "next button" to the right */
		.next {
			position: absolute;
			right: 0;
			border-radius: 3px 0 0 3px;
		}
		
		/* On hover, add a black background color with a little bit see-through */
		.prev:hover, .next:hover {
			background-color: rgba(0,0,0,0.8);
			color: white;
		}
		
		/* The dot/bullet/indicator container */
		.dot-container {
				text-align: center;
				padding: 20px;
				background: #ddd;
		}
		
		/* The dots/bullets/indicators */
		.dot {
			cursor: pointer;
			height: 15px;
			width: 15px;
			margin: 0 2px;
			background-color: #bbb;
			border-radius: 50%;
			display: inline-block;
			transition: background-color 0.6s ease;
		}
		
		/* Add a background color to the active dot/circle */
		.active, .dot:hover {
			background-color: #717171;
		}
		
		/* Add an italic font style to all quotes */
		q {font-style: italic;}
		
		/* Add a blue color to the author */
		.author {color: cornflowerblue;}
		</style>
		
		<div class="slideshow-container">
		<center>
			<span class="h6 text-color">Clients testimonial</span>
			<h2 class="mt-3 content-title">Check what's our clients say about us</h2>
		</center>
	
	
	
	
	
	
		<div class="mySlides">
			<img src="{% static 'images/an.jpg' %}" alt="Avatar" style="width:130px;border-radius: 100%;">
			<q>I love you the more in that I believe you had liked me for my own sake and for nothing else</q>
			<p class="author">- John Keats</p>
		</div>
		
		<div class="mySlides">
			<img src="{% static 'images/an.jpg' %}" alt="Avatar" style="width:130px;border-radius: 100%;">
			<q>But man is not made for defeat. A man can be destroyed but not defeated.</q>
			<p class="author">- Ernest Hemingway</p>
		</div>
		
		<div class="mySlides">
			<img src="{% static 'images/an.jpg' %}" alt="Avatar" style="width:130px;border-radius: 100%;">
			<q>I have not failed. I've just found 10,000 ways that won't work.</q>
			<p class="author">- Thomas A. Edison</p>
		</div>
		
		<a class="prev" onclick="plusSlides(-1)">❮</a>
		<a class="next" onclick="plusSlides(1)">❯</a>
		
		</div>
		
		<div class="dot-container">
			<span class="dot" onclick="currentSlide(1)"></span> 
			<span class="dot" onclick="currentSlide(2)"></span> 
			<span class="dot" onclick="currentSlide(3)"></span> 
		</div>
		
		<script>
		var slideIndex = 1;
		showSlides(slideIndex);
		
		function plusSlides(n) {
			showSlides(slideIndex += n);
		}
		
		function currentSlide(n) {
			showSlides(slideIndex = n);
		}
		
		function showSlides(n) {
			var i;
			var slides = document.getElementsByClassName("mySlides");
			var dots = document.getElementsByClassName("dot");
			if (n > slides.length) {slideIndex = 1}    
			if (n < 1) {slideIndex = slides.length}
			for (i = 0; i < slides.length; i++) {
					slides[i].style.display = "none";  
			}
			for (i = 0; i < dots.length; i++) {
					dots[i].className = dots[i].className.replace(" active", "");
			}
			slides[slideIndex-1].style.display = "block";  
			dots[slideIndex-1].className += " active";
		}
		</script>
	
		























<!-- Section Testimonial End -->
<section class="section latest-blog bg-2">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<span class="h6 text-color">Latest News</span>
					<h2 class="mt-3 content-title text-white">Latest articles to enrich knowledge</h2>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 mb-5">
				<div class="card bg-transparent border-0">
					<img src="images/blog/1.jpg" alt="" class="img-fluid rounded">

					<div class="card-body mt-2">
						<div class="blog-item-meta">
							<a href="#" class="text-white-50">Design<span class="ml-2 mr-2">/</span></a>
							<a href="#"  class="text-white-50">Ui/Ux<span class="ml-2">/</span></a>
							<a href="#" class="text-white-50 ml-2"><i class="fa fa-user mr-2"></i>admin</a>
						</div> 

						<h3 class="mt-3 mb-5 lh-36"><a href="#" class="text-white ">How to improve design with typography?</a></h3>

						<a href="blog-single.html" class="btn btn-small btn-solid-border btn-round-full text-white">Learn More</a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 mb-5">
				<div class="card border-0 bg-transparent">
					<img src="images/blog/2.jpg" alt="" class="img-fluid rounded">

					<div class="card-body mt-2">
						<div class="blog-item-meta">
							<a href="#" class="text-white-50">Design<span class="ml-2 mr-2">/</span></a>
							<a href="#"  class="text-white-50">Ui/Ux<span class="ml-2">/</span></a>
							<a href="#" class="text-white-50 ml-2"><i class="fa fa-user mr-2"></i>admin</a>
						</div>  

						<h3 class="mt-3 mb-5 lh-36"><a href="#" class="text-white">Interactivity design may connect consumer</a></h3>

						<a href="blog-single.html" class="btn btn-small btn-solid-border btn-round-full text-white">Learn More</a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 mb-5">
				<div class="card border-0 bg-transparent">
					<img src="images/blog/3.jpg" alt="" class="img-fluid rounded">

					<div class="card-body mt-2">
						<div class="blog-item-meta">
							<a href="#" class="text-white-50">Design<span class="ml-2 mr-2">/</span></a>
							<a href="#"  class="text-white-50">Ui/Ux<span class="ml-2">/</span></a>
							<a href="#" class="text-white-50 ml-2"><i class="fa fa-user mr-2"></i>admin</a>
						</div> 

						<h3 class="mt-3 mb-5 lh-36"><a href="#" class="text-white">Marketing Strategy to bring more affect</a></h3>

						<a href="blog-single.html" class="btn btn-small btn-solid-border btn-round-full text-white">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="mt-70 position-relative">
	<div class="container">
	<div class="cta-block-2 bg-gray p-5 rounded border-1">
		<div class="row justify-content-center align-items-center ">
			<div class="col-lg-7">
				<span class="text-color">For Every type business</span>
				<h2 class="mt-2 mb-4 mb-lg-0">Entrust Your Project to Our Best Team of Professionals</h2>
			</div>
			<div class="col-lg-4">
				<a href="{% url 'contact' %}" class="btn btn-main btn-round-full float-lg-right ">Contact Us</a>
			</div>
		</div>
	</div>
</div>

</section>

<!-- footer Start -->


  </body>
	</html>
	
	{% endblock %}























	
   