body{
	position: relative;
	font-family: Montserrat;
}
.nav-div{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
.top-div{
	top: 0;
	background-color: white;
	width: 100%;
	z-index: 1;
	position: fixed;
}
.main-body{
	padding-top: 100px;
	position: relative;
}
.navbar-brand{
	font-size: 24px;
}
.nav{
	position: absolute;
	right: 10px;
	font-size: 20px;
}
.nav a{
	color: white !important;
}
.dropdown-menu a:hover{
	background-color: black;
	border-radius: 5px;
}
.jumbotron{
	background: linear-gradient(to bottom, white, lightblue, blue) !important;
	color: white;
	text-align: center;
}
.jumbotron h1{
	font-size: 50px;
}
.jumbotron h2{
	font-size: 40px;
}

.course-row{
	padding: 40px 5px;
}
.box{
	margin-top: 20px !important;
}
.links a{
	transition: transform 0.3s;
	margin: 0 2px;
}
.links a:hover{
	transform: translateY(-5%) scale(2);
}
.contact-info a{
	color: white;
	font-size: 20px;
	transition: transform 0.3s;
}
@media (max-width: 768px) {
	.top-div{
		position: relative;
	}
	nav{
		padding-top: 0;
		position: relative;
	}
	.nav{
		position: relative;
		left: 5px;
	}
}
@media (max-width: 992px) {
	.card{
		width: 80%;
		margin-left: 10%;
	}
}
textarea{
	resize: none !important;
}
