<!doctype html>
{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <title>Course title</title>
    <style>
      body{
        padding: 0;
        margin: 0;
      }
      img{
        width: 100%;
        height: 45vh;
      }
      .heading{
        font-weight: normal;
        font-size: 2.37em;
      }
      .detail{
        font-size: 1.25em;
        font-weight: 100;
      }
      .detail span{
        font-size: 1.18em;
        font-weight: 700;
      }
      .buttons{
        background-color: lightgrey;
        color: blue;
        margin: 0px;
      }
      .buttons:first-child{
        background-color: blue;
        color: white;
      }
      .jumbotron{
        background: transparent;
        padding: 10px !important;
      }
      .card{
        border: 0;
      }
      .card img{
        height: 100px;
        width: 100px;
      }
      .drop{
        cursor: pointer;
      }
      .dropmenu{
        display: none;
      }
      #feedback{
        position: fixed;
        left: -35px;
        top: 50%;
        border-radius: 0;
        transform: rotate(90deg);
      }
      @media (max-width: 768px) {
        img{
          width: 100%;
          height: auto;
        }
        .heading{
          font-weight: normal;
          font-size: 2em;
        }
        .detail{
          font-size: 1em;
          font-weight: 100;
        }
        .detail span{
          font-size: 1em;
          font-weight: 700;
        }
        #buttons{
          padding-top: 20px;
        }
      }
    </style>
  </head>
  <body>
    <!-- popup starts here -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document" style="max-width: 400px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <!-- popup body form -->
          <div class="modal-body">
            <form method="post" novalidate>
							{% csrf_token %}
							{% include 'includes/bs4_form.html' with form=form %}
							<center>
							<button type="submit" class="btn btn-primary">Submit</button>
							</center>
						</form>

          </div>
          <!-- popup body form ends here-->

        </div>
      </div>
    </div>
    <!-- popup ends here -->

    <!-- feedback button  -->
    <button class="btn btn-secondary" id="feedback">FEEDBACK</button>
    

    <!-- yaha se main body image wagerah start ho raha hai -->
    <div class="container pt-2">
      <div class="row">
        <div class="col-md-9  pl-0 pr-4">
          <img src="{% static 'images/django.png' %}" alt="image is here" class="img">
          <div class="py-4">
            <span class="h1 heading mt-4">Django Training</span>
            <p class="text-secondary detail mt-4"><span>Django Training:</span> Django is a python based web development framework. With Django, you can take Web applications from concept to launch in a matter of hours. Django takes care of much of the hassles of Web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source. Django was designed to help developers take applications from concept to completion as quickly as possible. Django includes dozens of extra features that you can use to handle common Web development tasks. Django takes care of user authentication, content administration, sitemaps, RSS feeds, and many more tasks — right out of the box. Some of the busiest websites on the planet use Django’s ability to quickly and flexibly scale-up to meet the heaviest of traffic demands. Incredibly versatile.Companies, organizations, and governments have used Django to build all sorts of web applications — from content management systems and social networks to scientific computing platforms.</p>
          </div>
          <hr>
          <div class="jumbotron text-center">
            <div class="row">
              <div class="col-md-4 card p-2">
                <img src="{% static 'project.jpg' %}" alt="project image" class="card-img-top mx-auto">
                <div class="card-body">
                  <p>Project</p>
                </div>
              </div>
              <div class="col-md-4 card p-2">
                <img src="{% static 'assignment.png' %}" alt="assignment image" class="card-img-top mx-auto">
                <div class="card-body">
                  <p>Assignment</p>
                </div>
              </div>
              <div class="col-md-4 card p-2">
                <img src="{% static 'certification.png' %}" alt="certification image" class="card-img-top mx-auto">
                <div class="card-body">
                  <p>certification</p>
                </div>
              </div>
              <h2 class="font-weight-normal">Django Course Curriculum</h2>
            </div>
            <hr>
          </div>
          <div class="details">
            <span class="btn btn-primary" id="detail-button">FULL COURSE DETAILS</span>
            <!-- dropdown table -->
            <table class="table table-hover table-striped text-secondary">

            <!-- koi bhi nayi dropdown list k puri row ko copy karna -->
              <tr>
                <td>
                  <!-- h5 me jo heading change krna -->

                  <h5 class="drop" data-id="dropmenu1">1. Introduction <span class="float-right"><i class="fas fa-sort-down"></i></span></h5>
                  <!-- h5 me data-id and niche wali div ki id dono same rakhna baki sari rows ko dekhke smjh aajegi -->
                  <div class="dropmenu" id="dropmenu1">
                    <a href="">Why Django</a><br>
                    <a href="">Installation</a><br>
                   
                  </div>
                </td>
              </tr>
              <!-- yaha tak puri row -->

              <tr>
                <td>
                  <h5 class="drop" data-id="dropmenu2">2. The model layer <span class="float-right"><i class="fas fa-sort-down"></i></span></h5>
                  <div class="dropmenu" id="dropmenu2">
                    <a href="">Models</a><br>
                    <a href="">QuerySets</a><br>
                    <a href="">Model instances</a><br>
                    <a href="">Migrations</a><br>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <h5 class="drop" data-id="dropmenu3">3. The view layer <span class="float-right"><i class="fas fa-sort-down"></i></span></h5>
                  <div class="dropmenu" id="dropmenu3">
                    <a href="">The basics</a><br>
                    <a href="">Reference</a><br>
                    <a href="">File uploads</a><br>
                    <a href="">Class-based views</a><br>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <h5 class="drop" data-id="dropmenu4">4. The template layer <span class="float-right"><i class="fas fa-sort-down"></i></span></h5>
                  <div class="dropmenu" id="dropmenu4">
                    <a href="">The basics</a><br>
                    <a href="">For designers</a><br>
                    <a href="">For programmers</a><br>
                  </div>
                </td>
              </tr>

            </table>
          </div>
        </div>
        <div class="col-md-3">
          <div id="buttons">
            <a href="#" class="btn btn-block buttons m-0" data-toggle="modal" data-target="#exampleModal">ENROLL</a>
            <a href="#" class="btn btn-block buttons mt-1">FAQ</a>
            <a href="#" class="btn btn-block buttons mt-1">CODE</a>
            <a href="#" class="btn btn-block buttons mt-1">REVIEWS</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
      $(function() {
        $('.drop').click(function(){
          $id = $(this).attr('data-id');
          $('#'+$id).toggle(3000);
        });
        $('#detail-button').click(function() {
          $('.dropmenu').toggle(3000);
        })
      })
    </script>
  </body>
</html>

{% endblock %}