<!doctype html>
{% extends "base.html" %}
{% block content %}

{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <title>Course title</title>
    <style>
      body{
        padding: 0;
        margin: 0;
      }
      img{
        width: 100%;
        height: 45vh;
      }
      .heading{
        font-weight: normal;
        font-size: 2.37em;
      }
      .detail{
        font-size: 1.25em;
        font-weight: 100;
      }
      .detail span{
        font-size: 1.18em;
        font-weight: 700;
      }
      .buttons{
        background-color: lightgrey;
        color: blue;
        margin: 0px;
      }
      .buttons:first-child{
        background-color: blue;
        color: white;
      }
      .jumbotron{
        background: transparent;
        padding: 10px !important;
      }
      .card{
        border: 0;
      }
      .card img{
        height: 100px;
        width: 100px;
      }
      .drop{
        cursor: pointer;
      }
      .dropmenu{
        display: none;
      }
      #feedback{
        position: fixed;
        left: -35px;
        top: 50%;
        border-radius: 0;
        transform: rotate(90deg);
      }
      @media (max-width: 768px) {
        img{
          width: 100%;
          height: auto;
        }
        .heading{
          font-weight: normal;
          font-size: 2em;
        }
        .detail{
          font-size: 1em;
          font-weight: 100;
        }
        .detail span{
          font-size: 1em;
          font-weight: 700;
        }
        #buttons{
          padding-top: 20px;
        }
      }
    </style>
  </head>
  <body>
    <!-- popup starts here -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document" style="max-width: 400px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <!-- popup body form -->
          <div class="modal-body">
            <form method="post" novalidate>
							{% csrf_token %}
							{% include 'includes/bs4_form.html' with form=form %}
							<center>
							<button type="submit" class="btn btn-primary">Submit</button>
							</center>
						</form>
          </div>
          <!-- popup body form ends here-->

        </div>
      </div>
    </div>
    <!-- popup ends here -->

    <!-- feedback button  -->
    <button class="btn btn-secondary" id="feedback">FEEDBACK</button>
    

    <!-- yaha se main body image wagerah start ho raha hai -->
    <div class="container pt-2">
      <div class="row">
        <div class="col-md-9  pl-0 pr-4">
          <img src="{% static 'python.png' %}" alt="image is here" class="img">
          <div class="py-4">
            <span class="h1 heading mt-4">Python Training</span>
            <p class="text-secondary detail mt-4"><span>Python Training Course:</span> Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. Python supports modules and packages, which encourages program modularity and code reuse. The Python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed. At zekelabs, you are assured with best python classroom training in bangalore as well as python online training. We are voted one of the best python corporate and Python classroom training institute in Marathahalli and Bangalore. Python training helps you to enter BigData computation using PySpark. Python course helps in Data Science courses. The assignments and python training that you get here are simply best python training in Bangalore</p>
          </div>
          <hr>
          <div class="jumbotron text-center">
            <div class="row">
              <div class="col-md-4 card p-2">
                <img src="{% static 'project.jpg' %}" alt="project image" class="card-img-top mx-auto">
                <div class="card-body">
                  <p>Project</p>
                </div>
              </div>
              <div class="col-md-4 card p-2">
                <img src="{% static 'assignment.png' %}" alt="assignment image" class="card-img-top mx-auto">
                <div class="card-body">
                  <p>Assignment</p>
                </div>
              </div>
              <div class="col-md-4 card p-2">
                <img src="{% static 'certification.png' %}" alt="certification image" class="card-img-top mx-auto">
                <div class="card-body">
                  <p>certification</p>
                </div>
              </div>
              <h2 class="font-weight-normal pl-4">Python Course Curriculum</h2>
            </div>
            <hr>
          </div>
          <div class="details">
            <span class="btn btn-primary" id="detail-button">FULL COURSE DETAILS</span>
            <!-- dropdown table -->
            <table class="table table-hover table-striped text-secondary">

            <!-- koi bhi nayi dropdown list k puri row ko copy karna -->
              <tr>
                <td>
                  <!-- h5 me jo heading change krna -->

                  <h5 class="drop" data-id="dropmenu1">1. Introduction to Python Training in Bangalore <span class="float-right"><i class="fas fa-sort-down"></i></span></h5>
                  <!-- h5 me data-id and niche wali div ki id dono same rakhna baki sari rows ko dekhke smjh aajegi -->
                  <div class="dropmenu" id="dropmenu1">
                    <a href="">Useful Python Resources</a><br>
                    <a href="">Python Tools and Utilities</a><br>
                    <a href="">History of Python</a><br>
                    <a href="">Python Features</a><br>
                    <a href="">Job aspects after Python Training</a><br>
                  </div>
                </td>
              </tr>
              <!-- yaha tak puri row -->

              <tr>
                <td>
                  <h5 class="drop" data-id="dropmenu2">2. Python Environment <span class="float-right"><i class="fas fa-sort-down"></i></span></h5>
                  <div class="dropmenu" id="dropmenu2">
                    <a href="">Local Environment Setup</a><br>
                    <a href="">Downloads and Installations</a><br>
                    <a href="">Setting up Environment Path</a><br>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <h5 class="drop" data-id="dropmenu3">3. Executing Python <span class="float-right"><i class="fas fa-sort-down"></i></span></h5>
                  <div class="dropmenu" id="dropmenu3">
                    <a href="">Interactive Mode</a><br>
                    <a href="">Scripting Mode</a><br>
                    <a href="">Integrated Development Environment</a><br>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <h5 class="drop" data-id="dropmenu4">4. Python Basic Syntax  <span class="float-right"><i class="fas fa-sort-down"></i></span></h5>
                  <div class="dropmenu" id="dropmenu4">
                    <a href="">Python Identifiers</a><br>
                    <a href="">Reserved Words</a><br>
                    <a href="">Lines and Indentation</a><br>
                  </div>
                </td>
              </tr>

            </table>
          </div>
        </div>
        <div class="col-md-3">
          <div id="buttons">
            <a href="#" class="btn btn-block buttons m-0" data-toggle="modal" data-target="#exampleModal">ENROLL</a>
            <a href="#" class="btn btn-block buttons mt-1">FAQ</a>
            <a href="#" class="btn btn-block buttons mt-1">CODE</a>
            <a href="#" class="btn btn-block buttons mt-1">REVIEWS</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
      $(function() {
        $('.drop').click(function(){
          $id = $(this).attr('data-id');
          $('#'+$id).toggle(3000);
        });
        $('#detail-button').click(function() {
          $('.dropmenu').toggle(3000);
        })
      })
    </script>
  </body>
</html>

{% endblock %}