<!doctype html>
{% extends "base.html" %}
{% block content %}

{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <title>Course title</title>
    <style>
      body{
        padding: 0;
        margin: 0;
      }
      img{
        width: 100%;
        height: 45vh;
      }
      .heading{
        font-weight: normal;
        font-size: 2.37em;
      }
      .detail{
        font-size: 1.25em;
        font-weight: 100;
      }
      .detail span{
        font-size: 1.18em;
        font-weight: 700;
      }
      .buttons{
        background-color: lightgrey;
        color: blue;
        margin: 0px;
      }
      .buttons:first-child{
        background-color: blue;
        color: white;
      }
      .jumbotron{
        background: transparent;
        padding: 10px !important;
      }
      .card{
        border: 0;
      }
      .card img{
        height: 100px;
        width: 100px;
      }
      .drop{
        cursor: pointer;
      }
      .dropmenu{
        display: none;
      }
      #feedback{
        position: fixed;
        left: -35px;
        top: 50%;
        border-radius: 0;
        transform: rotate(90deg);
      }
      @media (max-width: 768px) {
        img{
          width: 100%;
          height: auto;
        }
        .heading{
          font-weight: normal;
          font-size: 2em;
        }
        .detail{
          font-size: 1em;
          font-weight: 100;
        }
        .detail span{
          font-size: 1em;
          font-weight: 700;
        }
        #buttons{
          padding-top: 20px;
        }
      }
    </style>
  </head>
  <body>
    <!-- popup starts here -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document" style="max-width: 400px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <!-- popup body form -->
          <div class="modal-body">
            <form method="post" novalidate>
							{% csrf_token %}
							{% include 'includes/bs4_form.html' with form=form %}
							<center>
							<button type="submit" class="btn btn-primary">Submit</button>
							</center>
						</form>
          </div>
          <!-- popup body form ends here-->

        </div>
      </div>
    </div>
    <!-- popup ends here -->

    <!-- feedback button  -->
    <button class="btn btn-secondary" id="feedback">FEEDBACK</button>
    

    <!-- yaha se main body image wagerah start ho raha hai -->
    <div class="container pt-2">
      <div class="row">
        <div class="col-md-9  pl-0 pr-4">
          <img src="image.png" alt="image is here" class="img">
          <div class="py-4">
            <span class="h1 heading mt-4">Face Recognition using Deep Learning Training</span>
            <p class="text-secondary detail mt-4"><span>Face Recognition using Deep Learning Course:</span> Face Recognition is one of the main applications of computer vision. In this course everything from image classification, detection, localization etc. will be discussed in details. All deep learning concepts will be dealt with from hands on perspective. By the end of the course learner can expect to be mater to these topics</p>
          </div>
          <hr>
          <div class="jumbotron text-center">
            <div class="row">
              <div class="col-md-4 card p-2">
                <img src="{% static 'project.jpg' %}" alt="project image" class="card-img-top mx-auto">
                <div class="card-body">
                  <p>Project</p>
                </div>
              </div>
              <div class="col-md-4 card p-2">
                <img src="{% static 'assignment.png' %}" alt="assignment image" class="card-img-top mx-auto">
                <div class="card-body">
                  <p>Assignment</p>
                </div>
              </div>
              <div class="col-md-4 card p-2">
                <img src="{% static 'certification.png' %}" alt="certification image" class="card-img-top mx-auto">
                <div class="card-body">
                  <p>certification</p>
                </div>
              </div>
              <h2 class="font-weight-normal">Yaha pe course ki heading aayegi</h2>
            </div>
            <hr>
          </div>
          <div class="details">
            <span class="btn btn-primary" id="detail-button">FULL COURSE DETAILS</span>
            <!-- dropdown table -->
            <table class="table table-hover table-striped text-secondary">

            <!-- koi bhi nayi dropdown list k puri row ko copy karna -->
              <tr>
                <td>
                  <!-- h5 me jo heading change krna -->

                  <h5 class="drop" data-id="dropmenu1">1. Essential Programming <span class="float-right"><i class="fas fa-sort-down"></i></span></h5>
                  <!-- h5 me data-id and niche wali div ki id dono same rakhna baki sari rows ko dekhke smjh aajegi -->
                  <div class="dropmenu" id="dropmenu1">
                    <a href="">1</a><br>
                    <a href="">2</a><br>
                    <a href="">3</a><br>
                    <a href="">4</a><br>
                  </div>
                </td>
              </tr>
              <!-- yaha tak puri row -->

              <tr>
                <td>
                  <h5 class="drop" data-id="dropmenu2">2. Understanding Images <span class="float-right"><i class="fas fa-sort-down"></i></span></h5>
                  <div class="dropmenu" id="dropmenu2">
                    <a href="">1</a><br>
                    <a href="">2</a><br>
                    <a href="">3</a><br>
                    <a href="">4</a><br>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <h5 class="drop" data-id="dropmenu3">3. Face Detection using HOG & SVM (Part - I) <span class="float-right"><i class="fas fa-sort-down"></i></span></h5>
                  <div class="dropmenu" id="dropmenu3">
                    <a href="">1</a><br>
                    <a href="">2</a><br>
                    <a href="">3</a><br>
                    <a href="">4</a><br>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <h5 class="drop" data-id="dropmenu4">4. Introduction to Deep Learning <span class="float-right"><i class="fas fa-sort-down"></i></span></h5>
                  <div class="dropmenu" id="dropmenu4">
                    <a href="">1</a><br>
                    <a href="">2</a><br>
                    <a href="">3</a><br>
                    <a href="">4</a><br>
                  </div>
                </td>
              </tr>

            </table>
          </div>
        </div>
        <div class="col-md-3">
          <div id="buttons">
            <a href="#" class="btn btn-block buttons m-0" data-toggle="modal" data-target="#exampleModal">ENROLL</a>
            <a href="#" class="btn btn-block buttons mt-1">FAQ</a>
            <a href="#" class="btn btn-block buttons mt-1">CODE</a>
            <a href="#" class="btn btn-block buttons mt-1">REVIEWS</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
      $(function() {
        $('.drop').click(function(){
          $id = $(this).attr('data-id');
          $('#'+$id).toggle(3000);
        });
        $('#detail-button').click(function() {
          $('.dropmenu').toggle(3000);
        })
      })
    </script>
  </body>
</html>

{% endblock %}